<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
  <p>Team Name: <%= @tname %><p>
  <p>Coach: <%= @coach %><p>
  <p>Point Guard:  <%=  @poing %><p>
  <p>Shooting Guard: <%= @sog %><p>
  <p>Power Forward: <%= @pof %><p>
  <p>Shoot Forward: <%= @sof %><p>
  <p>Center: <%= @cen %> <p>


 </body>
</html>
