<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h1>Team Name: <%= @newteam["name"] %></h1>
    <h2>Coach: <%= @newteam["coach"] %></h2>
    <h2>Point Guard: <%= @newteam["pg"] %></h2>
    <h2>Shooting Guard: <%= @newteam["sg"] %></h2>
    <h2>Small Forward: <%= @newteam["sf"] %></h2>
    <h2>Power Forward: <%= @newteam["pf"] %></h2>
    <h2>Center: <%= @newteam["c"] %></h2>
 </body>
</html>
